.stars {
    display: flex;
}

.starIndividual {
    height: 30px;
}

.testimonialsParent {
    width: 50%;
    margin: auto;
    min-height: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.testimonialsParentMobile {
    width: 80%;
    margin: auto;
    min-height: 400px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.testimonialReview {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
    text-align: left;
}

.testimonialName {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
    text-align: right;
}

.individualTestimonial {
    margin-top: 100px;
  -webkit-animation: fadeinout 10s linear forwards;
  animation: fadeinout 10s linear forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  min-height: 300px;
}

@-webkit-keyframes fadeinout {
  0%, 100% { opacity: 0; }
  5%, 95% { opacity: 1; }
}

@keyframes fadeinout {
  0%, 100% { opacity: 0; }
  5%, 95% { opacity: 1; }
}