.footerParent {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: gainsboro;
}

.footerLink {
    text-decoration: none;
}

.footerLinkText:hover > .footerLinkText {
    color: goldenrod;
}

.footerDescription {
    width: 20%;
    text-align: left;
}

.footerLinkText {
    color: #0e82a4;
    margin: 20px;
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.footerLinksMobile {
    display: flex;
    flex-direction: column;
}

.footerDescriptionMobile {
    width: 50%;
    text-align: left;
}

.copyWrite {
    font-size: 10px;
}