.contactUsTitle {
    margin: auto;
    margin-top: 200px;
    width: 60%;
}

.contactUsTitleMobile {
    margin: auto;
    margin-top: 150px;
    width: 90%;
}

.inputTitle {
    margin-bottom: 5px;
}
.inputTitleMobile {
    margin-bottom: 5px;
}

.contactUsForm {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 40%;
}

.contactUsFormMobile {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactUsMainBody {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contactUsTelephone {
    text-decoration: none;
    color: #3c99b3;
}

.inputParent {
    text-align: left;
}

.inputTitle {
    font-size: 25px;
    font-weight: 100;
}

.inputTitleMobile {
    font-size: 25px;
    font-weight: 100;
}

.contactUsImageMobile {
    margin-bottom: 50px;
    width: 90%;
    border-radius: 2px;
    box-shadow: 0px 0px 2px silver;
}

.contactUsImage {
    width: 40%;
    border-radius: 2px;
    box-shadow: 0px 0px 10px silver;
}

.contactUsSubmitEmailButton {
    background-color: #0e82a4;
    cursor: pointer;
    color: white;
    font-weight: 100;
    font-size: 30px;
    width: 50%;
    margin: auto;
    margin-top: 25px;
}

.contactUsSubmitEmailButton:hover {
    background-color: #3c99b3;
}

.contactUsTitleMobile {
    font-size: 20px;
}