.titleAndSubTitleParent {
    margin-top: 30vh;
    background-color: #a9a9a9cc;
    min-height: 200px;
}

.jeffreyStokesDDSTitle {
    color: #195567fa;
    font-size: 400%;
}

.jeffreyStokesDDSSubTitle {
    color: #195567fa;
    font-size: 200%;
    padding-bottom: 15px;
}

.homePageMainPhoto {
    position: absolute;
    top: -10px;
    z-index: -100;
    right: 0px;
    width: 115vw;
    min-width: 1500px;
    min-height: 650px;
    height: 80vh;
}

.testimonialsParent {
    margin-top: 20vh;
}