.titleAndSubTitleParent {
    margin-top: 45vh;
    margin-top: 55vh;
    background-color: #d9d8bab8;
    min-height: 200px;
}

.jeffreyStokesDDSTitle {
    color: #0e82a4;
    font-size: 400%;
}

.jeffreyStokesDDSSubTitle {
    color: #0e82a4;
    font-size: 200%;
    padding-bottom: 15px;
}

.homePageMainPhoto {
    position: absolute;
    top: 90px;
    z-index: -100;
    right: 0px;
    min-height: 580px;
    height: 70vh;
    filter: blur(6px);
}

.testimonialsParent {
    margin-top: 25vh;
}